<div class="modal js-modalbody" id="importantInformationModal" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
		        <span class="modal-header-title" id="modal-header-title1" tabindex="-1" role="heading">Test Modal</span>
		    </div>
			<div class="modal-body">
				Modal Body
			</div>
			<div class="modal-footer">
				<div class="col-md-6 col-sm-6 col-xs-12 text-right pad-left-none pad-right-none cmn-float-right">
					<button id="closeModal" type="button" class="btn btn-primary btn-md btn-min-width cmn-float-right" data-dismiss="modal" role="button" ng-click='closeModal()'>Close</button>
				</div>
			</div>
		</div>
	</div>
</div>