<div ng-controller="superController">
<div class="chat-box">
	<div class="left-chat-box"><label>Wesley</label>fdffdgfd</div>
	<div class="clear-both"</div>
	<div class="right-chat-box"><label>Heather</label>fdffdgfd</div>
	<div class="clear-both"</div>
	<div class="left-chat-box"><label>Wesley</label>fdffdgfd</div>
	<div class="clear-both"</div>
	<div class="right-chat-box"><label>Heather</label>fdffdgfd</div>
	<div class="clear-both"</div>
		<div class="right-chat-box" ng-repeat="message in messages"><label>Heather</label>{{message.name}}</div>
</div>
</div>
