<div ng-controller="wliveController as wlive">
<div class="alert js-alert alert-success wlive-link" ng-click="wlive.goToAdvisor()">
	<div class="alert-body">
		<p>Hi Heather, there’s a few things I can help with. Save money by moving your balances. Grow your super in a tax effective way. Protect you and your family by looking at your insurance cover.</p>
		<br/>
		<p>Would you like me to explore these further?</p>
	</div>
</div>
<div class="wlive-container">
	<div class="panel">
		<div class="panel-heading">
			<span class="panel-title">Cash</span>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-6"> Westpac Choice</div><div class="col-xs-6 text-right">$112.99</div>
				<div class="col-xs-12">123-123  123456</div>
			</div>
		</div>
		<div class="panel-body wlive-upper-border">
			<div class="row">
				<div class="col-xs-6"> Westpac eSaver</div><div class="col-xs-6 text-right">$9086.99</div>
				<div class="col-xs-12">345-456  987654</div>
			</div>
		</div>
		<div class="panel-footer text-center">
			<span class="icon icon-size-sm icon-add-b"></span> <span class="icon-text">Open new account<span>
		</div>
	</div>
</div>
</div>
